.cat-about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	align-items: center;
	justify-items: start;
}

.cat-about__title {
	display: flex;
	align-items: center;
	gap: 5px;
}

.cat-about__image {
	width: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
	grid-row: 1 / 5;
	

}

.cat-about__description {
	grid-column: 1 / -1;
	font-size: 19px;
	padding: 5px;
}

.cat-about__id {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	gap: 5px;
	background-color:rgb(111, 166, 191);
	padding: 10px 10px;
	border-radius: 8px;
	color: rgb(154, 224, 198);
}


.cat-about__id:before {
	content: "id:";
	font-size: 18px;
	font-weight: bold;
	margin-right: 20px;
}

.cat-about__favourite-like {
	border: none;

	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	color: rgba(187, 101, 101, 0.751);
	cursor: pointer;
	
}

.cat-about__favourite_active {
	color: rgb(147, 59, 59)
}

.cat-about__name {
	margin: 0;
	padding: 5px;
}

.cat-about__rating-cat {
	white-space:nowrap ;
	
}

.cat-about__rating-cat:before {
	content: "Рейтинг:";
	font-weight: bold;
	margin-right: 5px;
	font-size: 18px;

}
.cat-about__edite, .cat-about__save, .cat-about__delete {
	border-radius: 7px;
	padding: 5px 5px;
	display: flex;
	gap:5px;
	border: 1px solid rgb(11, 53, 36);
	align-self: flex-start;
	cursor: pointer;
	position: absolute;
	right: 20px;

	background-color: rgb(217, 229, 226);
}

.cat-about__edite {
	top: 20px;
	right: 50px;
	
} 
.cat-about__save {
	top: 20px;
	margin-right: -5px;
	padding: 5px 5px;


}
.cat-about__delete {
	top: 79px;
	margin-right: -5px;
	margin-left: -40px;
	padding: 5px 8px;

}

.cat-about__edite_hidden {
	display: none;
	
} 

.cat-about__save_hidden {
	display: none; 
}

.cat-about__age-val {
	padding: 5px;
	grid-row: 3/4;

}